{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta"><a href="https://github.com/vrnavi/noCDN">GitHub Source</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">🔁 Not a rehost.</h2>
          <p>This site does not reupload files, but instead links to them, as well as any archived versions of the files for posterity. You download directly from their original sources.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">🤝 Community created.</h2>
          <p>File links are submitted by you. If you have any, feel free to send them! We'll make sure that the files are handled responsibly.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">☑️ Compliant.</h2>
          <p>This site does not host links to copyrighted material, and does not endorse piracy. This site will respond to takedown requests.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
